
<script>
    $(document).ready(function(){
    // Check Radio-box
    $(".rating input:radio").attr("checked", false);

    $('.rating input').click(function () {
        $(".rating span").removeClass('checked');
        $(this).parent().addClass('checked');
    });
});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<h1 style="text-align:center">Nueva Reseña</h1>

<ul class="nav justify-content-center">

<%= form_for([@user, @user.resenas.build]) do |f|%>
    <div class="field rating">
        <%= f.label :Calificacion %>
        <span><%= f.radio_button(:calif, 5, type: "radio", id: "5", value: "5") %><label for="5"></label></span>
        <span><%= f.radio_button(:calif, 4, type: "radio", id: "4", value: "4") %><label for="4"></label></span>
        <span><%= f.radio_button(:calif, 3, type: "radio", id: "3", value: "3") %><label for="3"></label></span>
        <span><%= f.radio_button(:calif, 2, type: "radio", id: "2", value: "2") %><label for="2"></label></span>
        <span><%= f.radio_button(:calif, 1, type: "radio", id: "1", value: "1") %><label for="1"></label></span>
    </div>
 
    <br>
    <br>

    <div>
      <%= f.label :Puntualidad %>
      <%= f.number_field :puntualidad, min: "1", max: "5" %>
    </div>

    <div>
      <%= f.label :Seguridad %>
      <%= f.number_field :seguridad, min: "1", max: "5" %>
    </div>

    <div>
      <%= f.label :Comentario %>
      <%= f.text_field :comentario %>
    </div>
    
    <center><%= f.button :Submit, :class => 'button button5'  %></center>
<% end %>
</ul>
