
<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <% if @user.images.attached? %>
                <%= image_tag @user.images.first, alt:"Generic placeholder image", class:"img-fluid img-thumbnail mt-4 mb-2", style:"width: 150px; height: 150px; z-index: 1" %>
              <% else %>
                <%= image_tag "https://i.ibb.co/b6zws6y/avatar.webp", alt:"Generic placeholder image", class:"img-fluid img-thumbnail mt-4 mb-2", style:"width: 150px; z-index: 1" %>
              <% end %>
                <% if current_user == @user%>
                  <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                  style="z-index: 1;" >
                    <a class="nav-link font-italic mb-1", <%= link_to "Editar Perfil", edit_user_registration_path%> </a>
                  </button>
                  
                  <% end %>
                <% if current_user.admin == true && current_user != @user%>
                  <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                  style="z-index: 1;" >
                    <a class="nav-link font-italic mb-1", <%= link_to "Eliminar cuenta", delete_user_path(@user), data: { confirm: "Are you sure?" }, method: :delete %> </a>
                  </button>
                <% end %>
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5> <%= @user.name %> </h5>
              <p> <%= @user.username %> </p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
                <p class="mb-1 h5"> <%= pluralize(@user_publications.count, "")%> </p>
                <p class="small text-muted mb-0">Publicaciones</p>
              </div>
              <div class="px-3">
              <% if @user.resenas.average(:puntualidad) %>
                <p class="mb-1 h5"> <%= pluralize((@user.resenas.average(:puntualidad)).truncate(1), "")%> </p>
              <% else %>
                <p class="mb-1 h5"> 0 </p>
              <% end %>
              <p class="small text-muted mb-0">Puntualidad</p>
              </div>
              <div>
              <% if @user.resenas.average(:seguridad) %>
                <p class="mb-1 h5"> <%= pluralize((@user.resenas.average(:seguridad)).truncate(1), "")%> </p>
              <% else %>
                <p class="mb-1 h5"> 0 </p>
              <% end %>
              <p class="small text-muted mb-0">Seguridad</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">Información</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1"> Mail: <%= @user.email %> </p>
                <p class="font-italic mb-1"> Age: <%= @user.age %> </p>
                <p class="font-italic mb-0"> Carrera: <%= @user.work %></p>
                <% if @user.admin == true %>
                  <p class="font-italic mb-0"> Admin</p>
                <% end %>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0">Publicaciones Recientes</p>
              <p class="mb-0"><a href=<%= owner_publications_url(@user.id) %> class="text-muted">Mostrar todas</a></p>
            </div>
            
            <div class="row g-2">
              <div class="col mb-2">
              <% @user_publications.each_with_index do |publication, index|%>
                <% if (index == 0) %>
                <section class="section"> 
                <div class="d-flex justify-content-center">
                  <div class="d-inline-flex p-2">
                    <div class="d-flex flex-column">
                    <div class="card" style="max-width: 42rem">
                    <div class="card-body">
                      <!-- Data -->
                      <div class="d-flex mb-3">
                        <a href= <%= user_path(publication.user_id)%> >
                        <% if publication.user.images.attached? %>
                            <%= image_tag publication.user.images.first, alt:"Avatar", class:"border rounded-circle me-2", style:"height: 40px" %>
                                <% end %>
                        </a>
                        <div>
                          <a href= <%= publication_path(publication)%> class="text-dark mb-0">
                            <strong> <%= publication.titulo%> </strong>
                          </a>
                          <a href="" class="text-muted d-block" style="margin-top: -6px">
                            <small> <%= publication.user.username%> </small>
                          </a>
                        </div>
                      </div>
                      <!-- Description -->
                      <div>
                        <p>
                        Publicación creada el: <%= publication.created_at%> <br>
                        Fecha de salida: <%= publication.fecha %> <br>
                        Punto de partida: <%= publication.punto_partida %> <br>
                        Punto de llegada: <%= publication.punto_llegada %> <br>
                        Cupos: <%= publication.cupos%> <br>
                        Radio max para buscar pasajeros (km): <%= publication.radio%> <br>
                        </p>
                      </div>
                    </div>
                    
                    <!-- Media -->
                    <!-- Interactions -->
                    <div class="card-body">
                      <!-- Reactions -->
                      <div class="d-flex justify-content-between mb-3">
                        <div>
                          <a href="">
                            <i class="fas fa-thumbs-up text-primary"></i>
                            <i class="fas fa-heart text-danger"></i>
                            
                          </a>
                        </div>
                        <div>
                          <a href="" class="text-muted"> <%= publication.comments.count%> comentarios </a>
                        </div>
                      </div>
                    </div> 
                  </div>
                </div>
              </section>
                <% end %>
                <% end %>
              </div>
              <div class="col mb-2">
              <% @user_publications.each_with_index do |publication, index|%>
                <% if (index == 1) %>
                  <section class="section"> 
                    <div class="d-flex justify-content-center">
                      <div class="d-inline-flex p-2">
                        <div class="d-flex flex-column">
                        <div class="card" style="max-width: 42rem">
                        <div class="card-body">
                          <!-- Data -->
                          <div class="d-flex mb-3">
                            <a href= <%= user_path(publication.user_id)%> >
                            <% if publication.user.images.attached? %>
                                <%= image_tag publication.user.images.first, alt:"Avatar", class:"border rounded-circle me-2", style:"height: 40px" %>
                                    <% end %>
                            </a>
                            <div>
                              <a href= <%= publication_path(publication)%> class="text-dark mb-0">
                                <strong> <%= publication.titulo%> </strong>
                              </a>
                              <a href="" class="text-muted d-block" style="margin-top: -6px">
                                <small> <%= publication.user.username%> </small>
                              </a>
                            </div>
                          </div>
                          <!-- Description -->
                          <div>
                            <p>
                            Publicación creada el: <%= publication.created_at%> <br>
                            Fecha de salida: <%= publication.fecha %> <br>
                            Punto de partida: <%= publication.punto_partida %> <br>
                            Punto de llegada: <%= publication.punto_llegada %> <br>
                            Cupos: <%= publication.cupos%> <br>
                            Radio max para buscar pasajeros (km): <%= publication.radio%> <br>
                            </p>
                          </div>
                        </div>
                        
                        <!-- Media -->
                        <!-- Interactions -->
                        <div class="card-body">
                          <!-- Reactions -->
                          <div class="d-flex justify-content-between mb-3">
                            <div>
                              <a href="">
                                <i class="fas fa-thumbs-up text-primary"></i>
                                <i class="fas fa-heart text-danger"></i>
                                
                              </a>
                            </div>
                            <div>
                              <a href="" class="text-muted"> <%= publication.comments.count%> comentarios </a>
                            </div>
                          </div>
                        </div> 
                      </div>
                    </div>
                  </section>
                <% end %>
                <% end %>
              </div>
            </div>
            <div class="row g-2">
              <div class="col">
              <% @user_publications.each_with_index do |publication, index|%>
                <% if (index == 2) %>
                <section class="section"> 
                <div class="d-flex justify-content-center">
                  <div class="d-inline-flex p-2">
                    <div class="d-flex flex-column">
                    <div class="card" style="max-width: 42rem">
                    <div class="card-body">
                      <!-- Data -->
                      <div class="d-flex mb-3">
                        <a href= <%= user_path(publication.user_id)%> >
                        <% if publication.user.images.attached? %>
                            <%= image_tag publication.user.images.first, alt:"Avatar", class:"border rounded-circle me-2", style:"height: 40px" %>
                                <% end %>
                        </a>
                        <div>
                          <a href= <%= publication_path(publication)%> class="text-dark mb-0">
                            <strong> <%= publication.titulo%> </strong>
                          </a>
                          <a href="" class="text-muted d-block" style="margin-top: -6px">
                            <small> <%= publication.user.username%> </small>
                          </a>
                        </div>
                      </div>
                      <!-- Description -->
                      <div>
                        <p>
                        Publicación creada el: <%= publication.created_at%> <br>
                        Fecha de salida: <%= publication.fecha %> <br>
                        Punto de partida: <%= publication.punto_partida %> <br>
                        Punto de llegada: <%= publication.punto_llegada %> <br>
                        Cupos: <%= publication.cupos%> <br>
                        Radio max para buscar pasajeros (km): <%= publication.radio%> <br>
                        </p>
                      </div>
                    </div>
                    
                    <!-- Media -->
                    <!-- Interactions -->
                    <div class="card-body">
                      <!-- Reactions -->
                      <div class="d-flex justify-content-between mb-3">
                        <div>
                          <a href="">
                            <i class="fas fa-thumbs-up text-primary"></i>
                            <i class="fas fa-heart text-danger"></i>
                            
                          </a>
                        </div>
                        <div>
                          <a href="" class="text-muted"> <%= publication.comments.count%> comentarios </a>
                        </div>
                      </div>
                    </div> 
                  </div>
                </div>
              </section>
                <% end %>
                <% end %>
              </div>
              <div class="col">
              <% @user_publications.each_with_index do |publication, index|%>
                <% if (index == 3) %>
                <section class="section"> 
                <div class="d-flex justify-content-center">
                  <div class="d-inline-flex p-2">
                    <div class="d-flex flex-column">
                    <div class="card" style="max-width: 42rem">
                    <div class="card-body">
                      <!-- Data -->
                      <div class="d-flex mb-3">
                        <a href= <%= user_path(publication.user_id)%> >
                        <% if publication.user.images.attached? %>
                            <%= image_tag publication.user.images.first, alt:"Avatar", class:"border rounded-circle me-2", style:"height: 40px" %>
                                <% end %>
                        </a>
                        <div>
                          <a href= <%= publication_path(publication)%> class="text-dark mb-0">
                            <strong> <%= publication.titulo%> </strong>
                          </a>
                          <a href="" class="text-muted d-block" style="margin-top: -6px">
                            <small> <%= publication.user.username%> </small>
                          </a>
                        </div>
                      </div>
                      <!-- Description -->
                      <div>
                        <p>
                        Publicación creada el: <%= publication.created_at%> <br>
                        Fecha de salida: <%= publication.fecha %> <br>
                        Punto de partida: <%= publication.punto_partida %> <br>
                        Punto de llegada: <%= publication.punto_llegada %> <br>
                        Cupos: <%= publication.cupos%> <br>
                        Radio max para buscar pasajeros (km): <%= publication.radio%> <br>
                        </p>
                      </div>
                    </div>
                    
                    <!-- Media -->
                    <!-- Interactions -->
                    <div class="card-body">
                      <!-- Reactions -->
                      <div class="d-flex justify-content-between mb-3">
                        <div>
                          <a href="">
                            <i class="fas fa-thumbs-up text-primary"></i>
                            <i class="fas fa-heart text-danger"></i>
                            
                          </a>
                        </div>
                        <div>
                          <a href="" class="text-muted"> <%= publication.comments.count%> comentarios </a>
                        </div>
                      </div>
                    </div> 
                  </div>
                </div>
              </section>
                <% end %>
                <% end %>
              </div>
            </div>
            
            <br>
            <br>
            <br>
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0">Reseñas Recientes</p>
              <p class="mb-0"><a href=<%= user_resenas_path(@user)%> class="text-muted">Mostrar todas</a></p>
                
            </div>
            <div>
            <section>
            <div class="row d-flex justify-content-center">
            </div>
            <div class="row text-center">
              <div class="col-md-4 mb-5 mb-md-0">
              <% @user.resenas.each_with_index do |resena, index|%>
                <% if index == 0 %>
                <ul class="list-unstyled d-flex justify-content-center mb-0">
                  <% if resena.calif == 5 %>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                  <% end %>
                  <% if resena.calif == 4 %>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                  <% end %>
                  <% if resena.calif == 3 %>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  <% end %>
                  <% if resena.calif == 2 %>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  <% end %>
                  <% if resena.calif == 1 %>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  <% end %>
                </ul>
                <p class="font-italic mb-0"> Puntualidad: <%= resena.puntualidad %></p>
                <p class="font-italic mb-0"> Seguridad: <%= resena.seguridad %></p>
                <p class="font-italic mb-0"> "<%= resena.comentario %>"</p>
                <% end %>
              <% end %>
              </div>
              <div class="col-md-4 mb-5 mb-md-0">
              <% @user.resenas.each_with_index do |resena, index|%>
                <% if index == 1 %>
                <ul class="list-unstyled d-flex justify-content-center mb-0">
                  <% if resena.calif == 5 %>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                  <% end %>
                  <% if resena.calif == 4 %>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                  <% end %>
                  <% if resena.calif == 3 %>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  <% end %>
                  <% if resena.calif == 2 %>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  <% end %>
                  <% if resena.calif == 1 %>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  <% end %>
                </ul>
                <p class="font-italic mb-0"> Puntualidad: <%= resena.puntualidad %></p>
                <p class="font-italic mb-0"> Seguridad: <%= resena.seguridad %></p>
                <p class="font-italic mb-0"> "<%= resena.comentario %>"</p>
                <% end %>
              <% end %>
              </div>
              <div class="col-md-4 mb-0">
              <% @user.resenas.each_with_index do |resena, index|%>
                <% if index == 2 %>
                <ul class="list-unstyled d-flex justify-content-center mb-0">
                  <% if resena.calif == 5 %>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                  <% end %>
                  <% if resena.calif == 4 %>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                  <% end %>
                  <% if resena.calif == 3 %>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  <% end %>
                  <% if resena.calif == 2 %>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  <% end %>
                  <% if resena.calif == 1 %>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  <% end %>
                </ul>
                <p class="font-italic mb-0"> Puntualidad: <%= resena.puntualidad %></p>
                <p class="font-italic mb-0"> Seguridad: <%= resena.seguridad %></p>
                <p class="font-italic mb-0"> "<%= resena.comentario %>"</p>
                <% end %>
              <% end %>
              </div>
            </div>
          </section>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  



<!-- Font Awesome Icon Library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.checked {
  color: orange;
}
</style>

